@page
@model EMEHospitalWebApp.Pages.Appointments.AppointmentsPage

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Appointment</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Appointment.PatientsId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Appointment.PatientsId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Appointment.DoctorsId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Appointment.DoctorsId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Appointment.DateTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Appointment.DateTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Appointment.DiagnosisId)
        </dt>
	    <dd class="col-sm-10">
		    @Html.DisplayFor(model => model.Appointment.DiagnosisId)
	    </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-page-handler = "Edit" asp-route-id="@Model.Appointment.Id">Edit</a> |
    <a asp-page="./Index" asp-page-handler="Index">Back to List</a>
</div>
